@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

body {
    display: flex;
    flex-direction: column;
    justify-content: flex-start; 
    align-items: center;
    height: 100vh;
    margin: 0;
    padding: 0;
}
/*------------------------Scroll Bar-----------------------*/
::-webkit-scrollbar {
    width: 20px;
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background-color: #fde65e;
    border-radius: 10px;
}

/*========================Nav Bar=========================*/
.nav-bar {
    display: flex;
    flex-flow: row wrap;
    width: 100%;
    height: 90px;
    background-color: #fff;
    box-shadow: 3px 3px 10px lightslategray;
    align-items: center;
    justify-content: center;
    position: sticky;
    top: 0;
    z-index: 1;
}

.logo {
    flex: 1;
    font-size: 40px;
    padding: 20px;
    margin-left: 50px;
    font-family: Satisfy;
    cursor: pointer;
}

ul.menu {
    flex: 1;
    display: flex;
    flex-flow: row wrap;
}

.menu li {
    flex: 1;
    list-style-type: none;
    font-size: 16px;
    font-family: "Barlow Condensed";
    text-align: center;
}

.menu li a {
    text-decoration: none;
    color: #000;
    text-transform: uppercase;
}

.menu li a:hover {
    color: midnightblue;
    text-decoration: underline;
}



/*========================Contactr=========================*/

.container {
    display: flex;
    justify-content: space-between;
}

.left-image {
    width: 50%; 
    height: auto;
    margin-right: 10rem; 
}

form {
    min-width: 25rem;
	
	.title {
		font-family: 'Pacifico', cursive;
		color: #212529;
		font-size: 2.5rem;
	}

	.form-control {
        background-color: #f2f6f8;
		border-radius: 2rem;
        border: none;
        box-shadow: 0px 7px 5px rgba(0, 0, 0, 0.11);
        width: 100%; /* Set the width of all input fields to be the same */
        margin-bottom: 20px; /* Increase the space between input fields */
		
        &.thick {
            height: 3.3rem;
            padding: .5rem 3.5rem;
        }
		
		&:focus {
			background-color: #f2f6f8;
			border: none;
			box-shadow: 0px 7px 5px rgba(0, 0, 0, 0.11);
		}
    }
	
	.message .form-control {
		padding: 1rem 3.4rem;
        flex: 2; 
        
	}
	
    ::placeholder {
        font-family: 'Quicksand', sans-serif;
		font-weight: 600;
        font-size: 1.1rem;
        color: #838788;
        position: relative;
        left: 0;
    }
	
	.btn.btn-primary {
        font-family: 'Quicksand', sans-serif;
		font-weight: bold;
        height: 3.4rem;
        line-height: 2.5rem;
        padding: 0 3rem;
        border: 0;
        border-radius: 3rem;
        background-image:linear-gradient(131deg, #ffd340, #ff923c, #ff923c, #ff923c);
        background-size: 300% 100%;
        transition: all 0.3s ease-in-out;
    }

	.btn.btn-primary:hover:enabled {
        box-shadow: 0 0.5em 0.5em -0.4em #ff923cba;
        background-size: 100% 100%;
        transform: translateY(-0.15em);
    }


}

/*===============Footer===================*/
.footer {
    background-image: url("https://upanh123.com/wp-content/uploads/2020/12/back-ground-thien-nhien-viet-nam-yen-bai.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 300px;
    position: relative;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    margin-top: 10vh;
}

.footer::before {
    position: absolute;
    content: '';
    display: block;
    background-color: rgba(0, 0, 36, 0.80);
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

.footer .links {
    position: relative;
    color: #fff;
    flex: 1;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}

.links ul {
    list-style-type: none;
}

.links h3 {
    font-family: Barlow Condensed;
    font-weight: normal;
    font-size: 23px;
    margin-bottom: 15px;
}

.links li {
    font-family: Roboto;
    cursor: pointer;
    padding: 15px 0;
}

.links li:hover {
    color: #FFA801;
}





